/*********************************/
/*Font-size style*/
/********************************/

.fs-0 {
  font-size: 0rem;
}
.fs-0-1 {
  font-size: 0.1rem;
}
.fs-0-2 {
  font-size: 0.2rem;
}
.fs-0-3 {
  font-size: 0.3rem;
}
.fs-0-4 {
  font-size: 0.4rem;
}
.fs-0-5 {
  font-size: 0.5rem;
}
.fs-0-6 {
  font-size: 0.6rem;
}
.fs-0-7 {
  font-size: 0.7rem;
}
.fs-0-8 {
  font-size: 0.8rem;
}
.fs-0-9 {
  font-size: 0.9rem;
}
.fs-1 {
  font-size: 1rem;
}
.fs-1-1 {
  font-size: 1.1rem;
}
.fs-1-2 {
  font-size: 1.2rem;
}
.fs-1-3 {
  font-size: 1.3rem;
}
.fs-1-4 {
  font-size: 1.4rem;
}
.fs-1-5 {
  font-size: 1.5rem;
}
.fs-1-6 {
  font-size: 1.6rem;
}
.fs-1-7 {
  font-size: 1.7rem;
}
.fs-1-8 {
  font-size: 1.8rem;
}
.fs-1-9 {
  font-size: 1.9rem;
}
.fs-2 {
  font-size: 2rem;
}
.fs-2-1 {
  font-size: 2.1rem;
}
.fs-2-2 {
  font-size: 2.2rem;
}
.fs-2-3 {
  font-size: 2.3rem;
}
.fs-2-4 {
  font-size: 2.4rem;
}
.fs-2-5 {
  font-size: 2.5rem;
}
.fs-2-6 {
  font-size: 2.6rem;
}
.fs-2-7 {
  font-size: 2.7rem;
}
.fs-2-8 {
  font-size: 2.8rem;
}
.fs-2-9 {
  font-size: 2.9rem;
}
.fs-3 {
  font-size: 3rem;
}
.fs-3-1 {
  font-size: 3.1rem;
}
.fs-3-2 {
  font-size: 3.2rem;
}
.fs-3-3 {
  font-size: 3.3rem;
}
.fs-3-4 {
  font-size: 3.4rem;
}
.fs-3-5 {
  font-size: 3.5rem;
}
.fs-3-6 {
  font-size: 3.6rem;
}
.fs-3-7 {
  font-size: 3.7rem;
}
.fs-3-8 {
  font-size: 3.8rem;
}
.fs-3-9 {
  font-size: 3.9rem;
}
.fs-4 {
  font-size: 4rem;
}
.fs-4-1 {
  font-size: 4.1rem;
}
.fs-4-2 {
  font-size: 4.2rem;
}
.fs-4-3 {
  font-size: 4.3rem;
}
.fs-4-4 {
  font-size: 4.4rem;
}
.fs-4-5 {
  font-size: 4.5rem;
}
.fs-4-6 {
  font-size: 4.6rem;
}
.fs-4-7 {
  font-size: 4.7rem;
}
.fs-4-8 {
  font-size: 4.8rem;
}
.fs-4-9 {
  font-size: 4.9rem;
}
.fs-5 {
  font-size: 5rem;
}
.fs-5-1 {
  font-size: 5.1rem;
}
.fs-5-2 {
  font-size: 5.2rem;
}
.fs-5-3 {
  font-size: 5.3rem;
}
.fs-5-4 {
  font-size: 5.4rem;
}
.fs-5-5 {
  font-size: 5.5rem;
}
.fs-5-6 {
  font-size: 5.6rem;
}
.fs-5-7 {
  font-size: 5.7rem;
}
.fs-5-8 {
  font-size: 5.8rem;
}
.fs-5-9 {
  font-size: 5.9rem;
}
.fs-6 {
  font-size: 6rem;
}
.fs-6-1 {
  font-size: 6.1rem;
}
.fs-6-2 {
  font-size: 6.2rem;
}
.fs-6-3 {
  font-size: 6.3rem;
}
.fs-6-4 {
  font-size: 6.4rem;
}
.fs-6-5 {
  font-size: 6.5rem;
}
.fs-6-6 {
  font-size: 6.6rem;
}
.fs-6-7 {
  font-size: 6.7rem;
}
.fs-6-8 {
  font-size: 6.8rem;
}
.fs-6-9 {
  font-size: 6.9rem;
}
.fs-7 {
  font-size: 7rem;
}
.fs-7-1 {
  font-size: 7.1rem;
}
.fs-7-2 {
  font-size: 7.2rem;
}
.fs-7-3 {
  font-size: 7.3rem;
}
.fs-7-4 {
  font-size: 7.4rem;
}
.fs-7-5 {
  font-size: 7.5rem;
}
.fs-7-6 {
  font-size: 7.6rem;
}
.fs-7-7 {
  font-size: 7.7rem;
}
.fs-7-8 {
  font-size: 7.8rem;
}
.fs-7-9 {
  font-size: 7.9rem;
}
.fs-8 {
  font-size: 8rem;
}
.fs-8-1 {
  font-size: 8.1rem;
}
.fs-8-2 {
  font-size: 8.2rem;
}
.fs-8-3 {
  font-size: 8.3rem;
}
.fs-8-4 {
  font-size: 8.4rem;
}
.fs-8-5 {
  font-size: 8.5rem;
}
.fs-8-6 {
  font-size: 8.6rem;
}
.fs-8-7 {
  font-size: 8.7rem;
}
.fs-8-8 {
  font-size: 8.8rem;
}
.fs-8-9 {
  font-size: 8.9rem;
}
.fs-9 {
  font-size: 9rem;
}
.fs-9-1 {
  font-size: 9.1rem;
}
.fs-9-2 {
  font-size: 9.2rem;
}
.fs-9-3 {
  font-size: 9.3rem;
}
.fs-9-4 {
  font-size: 9.4rem;
}
.fs-9-5 {
  font-size: 9.5rem;
}
.fs-9-6 {
  font-size: 9.6rem;
}
.fs-9-7 {
  font-size: 9.7rem;
}
.fs-9-8 {
  font-size: 9.8rem;
}
.fs-9-9 {
  font-size: 9.9rem;
}
.fs-10 {
  font-size: 10rem;
}

/*************************/
/* FontWeight Style
/*************************/
/* void main(){
    List<String> properties=['normal', 'bold', 'bolder', 'lighter', '100', '200', '300', '400', '500', '600', '700', '800', '900'];
    for(int i=0;i<properties.length;i++){
      var value=properties[i];
      print('''
             .fw-$value{
             font-weight:$value;
             }
   
      ''');
    }
  } */

.fw-normal {
  font-weight: normal;
}

.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.fw-lighter {
  font-weight: lighter;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/*******************************************/
/*Text-Color Style
/*******************************************/
/* void main(){
  
    List<String> colors=['red','white','cyan','silver', 'blue', 'gray','darkblue','black','lightblue','orange','purple','brown','yellow','maroon','lime','green','magenta','olive','pink','aquamarine'];
    List<String> colorcodes=['#FF0000','#FFFFFF','#00FFFF','#C0C0C0','#0000FF','#808080','#00008B','#000000','#ADD8E6','#FFA500','#800080','#A52A2A','#FFFF00','#800000','#00FF00','#008000','#FF00FF','#808000','#FFC0CB','#7FFD4'];
  
    List<String> properties=['normal', 'bold', 'bolder', 'lighter', '100', '200', '300', '400', '500', '600', '700', '800', '900'];
    for(int i=0;i<colors.length;i++){
      var colorname=colors[i];
      var colorcode=colorcodes[i];
      print('''
             .text-$colorname{
             color:$colorcode;
             }
   
      ''');
    }
  } */

.text-red {
  color: #ff0000;
}

.text-white {
  color: #ffffff;
}

.text-cyan {
  color: #00ffff;
}

.text-silver {
  color: #c0c0c0;
}

.text-blue {
  color: #0000ff;
}

.text-gray {
  color: #b4b2b2;
}

.text-darkblue {
  color: #00008b;
}

.text-black {
  color: #000000;
}

.text-lightblue {
  color: #add8e6;
}

.text-orange {
  color: #ffa500;
}

.text-purple {
  color: #800080;
}

.text-brown {
  color: #a52a2a;
}

.text-yellow {
  color: #ffff00;
}

.text-maroon {
  color: #800000;
}

.text-lime {
  color: #00ff00;
}

.text-green {
  color: #008000;
}

.text-magenta {
  color: #ff00ff;
}

.text-olive {
  color: #808000;
}

.text-pink {
  color: #ffc0cb;
}

.text-aquamarine {
  color: #7fffd4;
}
.text-0c4da1 {
  color: #0c4da1;
}
.text-lowgray {
  color: #ddd;
}

/* ***************  Opacity *****************8 */

.opa-0 {
  opacity: 0;
}
.opa-0-1 {
  opacity: 0.1;
}
.opa-0-2 {
  opacity: 0.2;
}
.opa-0-3 {
  opacity: 0.3;
}
.opa-0-4 {
  opacity: 0.4;
}
.opa-0-5 {
  opacity: 0.5;
}
.opa-0-6 {
  opacity: 0.6;
}
.opa-0-7 {
  opacity: 0.7;
}
.opa-0-8 {
  opacity: 0.8;
}
.opa-0-9 {
  opacity: 0.9;
}
.opa-1 {
  opacity: 1;
}
